body {
    margin: 0;
    padding-top: 800px;
    text-align: center;
}

.menu naat {

    list-style: none;
    font-family: fantasy;
    position: absolute;
    top: 10px;
    right: 35px;
    z-index: 10;
    cursor: pointer;
    background-color: aquamarine;
}

.introdu{
    list-style: none;
    float:left;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 11px;
    padding-left: 11px;
    font-family: 'Birthstone', cursive;
    font-size: 24px;
}
#welcome{
background: linear-gradient(#59c726 0%, #155c37 100%);
    text-align: center;
    font-family: serif;
    position: absolute;
    overflow: hidden;
    height: 800px;
    color: #FFFFFF;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.83;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}
#hum{
background-color: aquamarine;
    text-align: center;
}
#har{
background: linear-gradient(#59c726 0%, #155c37 100%);
    text-align: center;
}
#hum ko bulana{
background: linear-gradient(#59c726 0%, #155c37 100%);
    text-align: center;
}
#gali{
background: linear-gradient(#59c726 0%, #155c37 100%);
    text-align: center;
}
#abu{
background: linear-gradient(#59c726 0%, #155c37 100%);
    text-align: center;
}